.delete {
  cursor: pointer;
  font-size: .875rem;
  padding: .3rem .6rem;
  background: #ddd;
  line-height: 1;
  border: 1px solid transparent;
  font-family: var(--type-first);
  border-radius: .4rem;
  transition: .1s;
}

.delete:hover, .delete:focus {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}
